/* * {
  border: 1px solid red;
} */

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Arimo", sans-serif;
  width: 100%;
  font-size: 16px;
}

button {
  cursor: pointer;
}

/* Header */

.header {
  background-image: url(./images/burger4.jpg);
  background-size: cover;
  height: 200px;
  background-position: left 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
}

.header img {
  display: none;
}

.header h1,
h2 {
  margin: 0 0 10px 45px;
  text-shadow: 0 0 10px #fff;
  color: #000000;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

/* Content */

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.content {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 10px;
}

.emoji {
  font-size: 75px;
}

.ingredients {
  color: #979797;
  margin-bottom: 0px;
}

.order-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #979797;
  margin-right: 45px;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.order-btn:hover {
  background-color: #4C1D95;
  color: white;
  border: 1px solid #ffffff;
}

.order-btn:active,
.complete-btn:active {
  opacity: 0.7;
}

.border-bottom {
  border-bottom: 1px solid #979797;
  width: 90%;
  justify-self: center;
}

/* Footer */

.footer {
  display: none;
}

.footer-active {
  display: flex;
  flex-direction: column;
}

.order-title {
  text-align: center;
  margin-top: 45px;
}

.footer h3 {
  display: inline-block;
  margin-right: 0;
}

.item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: inline-block;
  margin-right: 50px;
}

/* .item-content, */
.order-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 40px;
}

.total-content {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  color: #979797;
  border: none;
  font-family: Verdana, Tahoma, sans-serif;
  margin-left: 13px;
  display: inline-block;
  margin-left: 0;
  font-size: 12px;
}

.remove-btn:hover {
  font-weight: bold;
}

.border-bottom-black {
  border-bottom: 1px solid black;
  width: 90%;
  align-self: center;
}

.complete-btn {
  background-color: #16db99;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  height: 60px;
  justify-self: center;
  align-self: center;
  font-size: 18px;
  width: 90%;
  margin: 50px auto;
}

.complete-btn:hover {
  background-color: #4C1D95;
}
