/* General */

body {
  margin: 0;
  position: relative;
  font-family: "Smythe", sans-serif;
}

.order-container,
.modal-container,
.message-container,
.header img {
  display: none;
}

.active {
  display: flex;
}

button,
.fa-trash {
  cursor: pointer;
}


/* Header */

.header {
  background-image: url(./images/burger4.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -20px;
}

.title,
.subtitle {
  color: white;
  margin: 0 0 0 46px;
  font-weight: 400;
  text-shadow: 0 0 5px black;
}

.title {
  font-size: 39px;
}

.subtitle,
.modal-title  {
  font-size: 23px;
}

/* Menu items */

.menu-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-content {
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 79px;
  margin-right: 31px;
}

.item-name {
  font-size: 28px;
  margin-bottom: 8px;
}

.item-ingredients {
  color: #ababab;
  margin: 0 0 8px 0;
}

.item-price {
  font-size: 20px;
  margin: 0;
}

.add-btn {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #3c3c3c;
  border: 1px solid #979797;
  background-color: #dedede;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 46px;
  display: flex;
  justify-content: center;
}

.add-btn:hover {
  background-color: #4C1D95;
  color: white;
}

.add-btn:active,
.fa-trash:active,
.complete-order-btn:active,
.pay-btn:active {
  opacity: 0.7;
}

/* Order summary */

.order-container {
  width: 90%;
  margin: 0 auto;
  color: #0e0e0e;
  font-size: 28px;
}

.order-title {
  text-align: center;
  font-weight: lighter;
}

.order-items,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-items-text {
  display: flex;
  align-items: center;
}

.order-item-quantity,
.order-item-title {
  margin-right: 13px;
}

.fa-trash {
  font-size: 16px;
}

.fa-trash:hover {
  font-size: 22px;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.complete-order-btn,
.pay-btn {
  width: 100%;
  height: 60px;
  background-color: #16db99;
  border: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  justify-self: center;
  align-self: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.complete-order-btn:hover,
.pay-btn:hover {
  background-color: #4C1D95;
}

/* Payment form */
.modal-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 524px;
  height: 542px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 50px black;
  border-radius: 3px;
}

input {
  width: 475px;
  margin: 20px 0;
  height: 72px;
  border: 1px solid black;
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
  padding-left: 25px;
}

/* order message */
.message-container {
  background-color: #ecfdf5;
  text-align: center;
}

.message-container h4 {
  font-size: 32px;
}