body {
  margin: 0 auto;
  padding: 0;
  font-family: "Arimo", sans-serif;
  border: 1px solid black;
  width: 100%;
}

.header {
  background-image: url(./images/header_image.jpeg);
  background-size: cover;
  height: 200px;
  background-position: left 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  
}

.header img {
  display: none;
}

.header h1, h2 {
  margin: 0 0 10px 45px;
  text-shadow: 0 0 10px #fff;
  color: #000000;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}